<nav class="collapse navbar-collapse order-3 order-lg-1" id="navmenu">
  <ul class="navbar-nav text-center m-auto">
    <li class="nav-item">
       <%= link_to "Events", events_path, class: 'nav-link' %> 
    </li>
    <li class="nav-item">
      <%= link_to "Users", users_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to "Posts", posts_path, class: 'nav-link' %>
    </li>
  </ul>
</nav>