<span><%= post.likes.size %></span>

<span><%= like_button(post) %></span>

<%post.likes.each do |like|%>
  <span><%= image_tag like.user.avatar_url, width: 20, class: 'border border-info align-text-top' %></span>
<%end%>