<div class="row container mt-3 m-auto g-0">
  <% if user_signed_in? %>
     <section class="col-12 row g-0">
      <div class="col-8 ">
        <%= render partial: 'form', locals: {post: @post, submit_text: "Create"}%>
      </div>
      <div class="col-4 border">
      </div>
    </section>
  <% end %>
  <section id="posts" class="col-8">
    <%= render @posts%>  
  </section>
  

  <aside class="border col-4">
    <ul>
      <%= render @users %>
    </ul>
  </aside>
</div>


