<div class="row p-3">
  <%= render partial: 'form', locals: {post: @post}%>
  <section id="posts" class="col-8 border border-info">
    <%= render @posts%>  
  </section>
  

  <aside class="border border-primary col-4">
    
  </aside>
  <%= link_to 'New Post', new_post_path %>
</div>


